/* Reset body and set layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Container holding both sketches */
.sketch-container {
    display: flex;

}


